.container{
	margin: 0.8rem 0rem;
	width: 250px;
	height: 100px;
	border-radius: 0.5rem;
	padding: 1rem;
	color: #fff;
	cursor: pointer;
	background-color: #4663f18c;
	box-shadow: 13px 13px 20px #b2b2b2, -13px -13px 20px #fff;
}

.name{
	display: inline;
	border-radius: 0.5rem;
	text-transform: capitalize;
}

@media only screen and (max-width: 600px){
	.container{
		width: 250px;
	}

}